/*
* Color variables so we can change the color on one position
*/

// colors
$yellow: #ffff00;
$green: #47b347;
$cyan: #1cfff2;
$red: #ff495b;
$magenta: #fd02ff;
$purple: #b300b3;
$blue: #522eff;
$indigo: #501e82;

// basic colors
$black: black;
$white: white;
$grey: grey;

// dark version of colors
$dark-yellow: darken($yellow, 20);
$dark-green: darken($green, 20);
$dark-cyan: darken($cyan, 20);
$dark-red: darken($red, 20);
$dark-magenta: darken($magenta, 20);
$dark-purple: darken($purple, 20);
$dark-blue: darken($blue, 20);
$dark-indigo: darken($indigo, 20);
$dark-grey: darken($white, 70);

// light version of colors
$light-yellow: lighten($yellow, 20);
$light-green: lighten($green, 20);
$light-cyan: lighten($cyan, 20);
$light-red: lighten($red, 20);
$light-magenta: lighten($magenta, 20);
$light-purple: lighten($purple, 20);
$light-blue: lighten($blue, 20);
$light-indigo: lighten($indigo, 20);
$light-grey: lighten($white, 70);

$newcolor: lighten($magenta, 20%)